*~
*.so
*.o
*.pyc
.idea
.settings
.project
.cproject
.pydevproject
.ipynb_checkpoints
build
dist
doc/html
doc/latex
doc/xml
doc/tom.tag
doc/dummydox
python/tom.egg-info
python/tom/_version.py
tom.egg-info
research/benchmarks/*.seq.bz2
research/results/*.pdf
research/results/RANDOM27_32_max_data
