*~
*.so
*.o
*.pyc
swig/tomlib_wrap.cxx
swig/tomlib_wrap.cpp
swig/tomlib_wrap.h
swig/tomlib.py
swig/tomdoc.i
python/tom/tomlib.py
build
dist
doc/html
doc/xml
doc/tom.tag
python/tom.egg-info
tom.egg-info
