*~
*.so
*.o
*.pyc
.idea
.settings
.project
.cproject
.pydevproject
swig/tomlib_wrap.cxx
swig/tomlib_wrap.cpp
swig/tomlib_wrap.h
swig/tomlib.py
swig/tomdoc.i
python/tom/tomlib.py
build
dist
doc/html
doc/latex
doc/xml
doc/tom.tag
doc/dummydox
python/tom.egg-info
tom.egg-info
